body{
    text-align: center;
}

header{
    position: sticky;
    top:0px;
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
}

nav{
    display: none;
}

img{
    /* margin: 0%;
    position: absolute;
    z-index: -1; */
    width:100%;
}